/* Style.css */

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* maintient le footer en bas de page */
.wrapper {
    min-height: 100vh;
    background:transparent;
     /* Equal to height of footer */
     /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
    margin-top: 3rem;
} /* grace au push*/
.footer,
.push {
    height: 50px;
}
.hover:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}
body#index {
    background: url(/tdl/assets/img/bg1.jpg) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}
body#livreor {
    background: url(/tdl/assets/img/bg2.jpg) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}
body#profil {
    background: url(/tdl/assets/img/bg3.jpg) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}
body#user {
    background: url(/tdl/assets/img/bg4.jpg) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}
body#commentaire {
    background: url(/tdl/assets/img/bg5.png) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}

main {
    margin-top: 3rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}
a {
    /* text-decoration: none; */
    color: #d2b069;
    font-weight:800;
}
form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Meddias queries */

@media (max-width: 1200px) {

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3rem;
    }
    textarea {
        width: 100%;
    }
}
@media (max-width: 767px) {

}