/* Style.css */

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
    font-family: 'quartzregular';
    src: url('/tdl/assets/fonts/quartz_regular.woff2') format('woff2'),
        url('/tdl/assets/fonts/quartz_regular.ttf') format('ttf'),
        url('/tdl/assets/fonts/quartz_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.quartz {
    font-family: 'quartzregular', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* maintient le footer en bas de page */
.wrapper {
    min-height: 100vh;
    background:transparent;
    margin-bottom: -50px;/* Equal to height of footer */
} /* grace au push*/
.footer,
.push {
    height: 50px;
}

.hover:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}
body#index {
    background: url(/tdl/assets/img/bg1.png) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}
body#todolist {
    background: url(/tdl/assets/img/bg2.png) no-repeat center center fixed;
    transition: all 0.5s ease-in-out;
}

header {
    top: 0;
}

.opa {
    background: white;
    opacity: 0.85;
}
.clock {
    font-size:  2rem;
}
#connexionDiv, #inscriptionDiv {
    width: 90%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.to {
    position: absolute;
    top: 30%;
    left: 5%;
    writing-mode: tb-lr;
    color: #E15A5A;
    font-size: 6rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
}
.do {
    position: absolute;
    bottom: 30%;
    left: 5%;
    writing-mode: tb-lr;
    color: #798CBC;
    font-size: 8rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
}

.list {
    position: absolute;
    top: 10%;
    right: 5%;
    writing-mode: vertical-rl; 
    text-orientation: upright;
    color: #3E9072;
    font-size: 6rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
}
.bg-title {
    background-color: #2D7C7F;
}
.bg-blue {
    background-color: #195D7E;
    color: white;
}
.bg-blue:hover {
    background-color: #60b093;
}
.clock {
    padding-bottom: 1rem;
}

li {
    list-style-type: none;
}
a {
    /* text-decoration: none; */
    color: #2D7C7F;
    font-weight:800;
}
form {
    margin: 0 auto;
    width: 80%;
    padding: 2rem;
}
.todoform label {
    width: 10%;
}
.todoform input {
    width: 70%;
}
.tofdoform button {
    width: 10%;
}
.form-control {
    display: inline-block!important;
}

/* Meddias queries */

@media (max-width: 1200px) {

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3rem;
    }
    textarea {
        width: 100%;
    }
}
@media (max-width: 767px) {

}

@media (max-width: 600px) {


    .container {
        width: 100%;
    }

    #connexionDiv, #inscriptionDiv {
        width: 100%;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
    }
    .to {
        font-size: 4rem;
    }
    .do {
        font-size: 6rem;
    }
    .list {
        font-size: 4rem;
    }
    .container {
        margin-top: 3rem;
    }
    form {
        padding: .6rem;
    }
    .todoform input {
        width: 100%;
    }
    .todoform button {
        width: 100%;
    }
    .todoform textarea {
        width: 100%;
    }
    .todoform label {
        width: 100%;
    }

}